h1{
  text-decoration: underline;
}
#main-navbar {
  background-color: blue;
  overflow: hidden;
  margin-left:-50px;
  margin-right:-50px;
}
#navbar-container{
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}  
#main-navbar ul li {
  float: left;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
 }
#main-navbar ul li a:hover {
  background-color: #000;
  text-decoration: underline overline;
}
a{
 color: #bedbea;
}
body{
  margin-left: 50px;
  margin-right: 50px;
}
/*Index specifc css*/
#index body{
  position: relative;
  background-color: black;
  color: white;
}
#index h2{
  font-size: 150%;
}
#index img{
  height: 15%;
  width: 15%;
  position: relative;
}

#index h3{
  padding: 10px;	
}

#index p{
  font-size: 100%;
  padding: 10px;
}
/*Resume specifc css*/
#resume body{
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  min-width: 1400px;
}
#resume h3{
  text-decoration: underline;
  font-size: 130%;
}
#resume p{
  font-size: 15px;
  max-width: 600px;
  margin: auto;
  line-height: 20px;
}
#resume li{
  font-size: 15px;
  list-style:none;
}
#resume #main-navbar ul li a {
  font-size: 16px;
  font-family: sans-serif;
 }
/*Media Recomendation specifc css*/
#media body{
  position: relative;
  background-color: #2292cc;
  color: white;
}
#media h1{
  font-size: 200%;
  text-align: center;
}
#media h2{
  font-size: 150%;
  text-align: center;
}
#media p{
  font-size: 100%;
  text-align: center;
}
.bx-wrapper {
  width: 50%;
  margin: 0 auto;
}
iframe{
  float:left;
  padding-right: 20px;
  border: none;  
}
@media screen and (min-width: 1000px) {
  #media .bx-wrapper{
    width: 20%;
    float: left;
    margin-right: 20px;
  }
  #media h2{
  text-align: left;
  }
  #media p{
  text-align: left;
  }
  
}
@media screen and (min-width: 2000px) {
  #media p{
    font-size: 30px;
  }
}
#map_page{
  background-color: grey;
}
#map {
  height: 500px;
  width: 80%;
  margin: 50px auto;
}
btn-group button {
  color: white;
  padding: 10px 24px;
  float: left;
}
