body{
  background-color: #2292cc;
  color: white;
}
h1{
  font-size: 200%;
  text-align: center;
}
h2{
  font-size: 150%;
  padding: 10px;
}
img{
  height: 15%;
  width: 15%;
}
p{
  font-size: 100%;
  padding: 10px;
}